body {
    margin: 0;
    padding: 0;

}
h2 {
    margin: 0;
}

.main-Container {
    display: grid;
    height: 100%;
    grid-template-rows: 0.5fr 6fr 0.5fr;
    background-color: black;
    color: rgb(255, 0, 0);
}

.header {
    background-color: rgba(63, 62, 62, 0.529);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    background-color: black;
    display: grid;
    grid-template-columns: 0.5fr 4fr;
} 
.left-Content {
    grid-area: 1 / 1 / 3 / 2;
    padding: 15px 15px 35px 15px;
    /* grid-template-rows: ; */
    /* justify-self: center;
    align-self: center; */
    display: flex;
    flex-direction: row;
    align-items:center;
}

.formInfo {
    text-align: center;
    display: grid;
    gap: 15px;
    /* grid-template-rows: repeat(5, 1fr); */
    background-color: rgba(63, 62, 62, 0.529);
    padding: 10px;
    border-radius: 10px;
}

input {
    margin-top: 5px;
}
.radioB {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.right-Content {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    min-height: 100vh;

    
}
.green {
    background-color: greenyellow;
}
.red {
    background-color: red;
}

.book-Info {
    background-color: rgba(63, 62, 62, 0.529);
    border-radius: 10px;
    height: 250px;
    width: 250px;
    display: grid;
    gap: 20px;
    padding: 10px;
}

.book-Info > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-Info > div > button  {
    background-color: rgb(255, 255, 255);
}

